<div class="container p-0">
	<!-- Row 1: Feature Articles - Slideshow Animation -->
	<div id="FeaturedArticles" class="carousel slide w-100" data-ride="carousel">
		<ol class="carousel-indicators">
			<% for (let i = 0; i < newestArticles.slice(0, 4).length; i++) { %>
			<li data-target="#FeaturedArticles" data-slide-to="<%= i %>" class="<%= i === 0 ? 'active' : '' %>"></li>
			<% } %>
		</ol>
		<div class="carousel-inner" role="listbox">
			<% newestArticles.slice(0, 4).forEach((article, index) => { %>
			<div class="carousel-item <%= index === 0 ? 'active' : '' %>">
				<a href="/article/<%= article.article_id %>">
					<img src="/img/<%= article.thumbnail %>" class="d-block w-100" alt="<%= article.title %>" style="height: 750px" />
					<div class="carousel-caption d-none d-md-block">
						<h3><%= article.title %></h3>
						<p><%= new Date(article.published_date).toLocaleDateString('vi-VN') %> |</p>
					</div>
				</a>
			</div>
			<% }) %>
		</div>

		<!-- Carousel controls -->
		<a class="carousel-control-prev" href="#FeaturedArticles" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#FeaturedArticles" role="button" data-slide="next">
			<span class="carousel-control-next-icon"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<!-- Row 2: Latest Articles + Top Categories -->
	<div class="container pl-0 py-4">
		<div class="row border-bottom">
			<!-- Latest Articles -->
			<div class="col-md-6 border-right">
				<div class="text-center mb-4">
					<h3>BÀI VIẾT MỚI NHẤT</h3>
				</div>
				<div class="d-flex flex-column" style="gap: 40px"><% newestArticles.forEach(article => { %> <%- include("../partials/article_sr", {article: article, width: 400}) %> <% }) %></div>
			</div>

			<!-- Top Categories -->
			<div class="col-md-6">
				<% categoryArticles.forEach((article) => { %>
				<div class="card my-2">
					<div class="card-header">
						<a href="/category/<%= article.category_id %>" class="h5 text-decoration-none text-reset"> <%= article.category_name.toUpperCase() %> </a>
					</div>
					<div class="card-body"><%- include("../partials/article_sl", {article: article, width: 400, show_tags: true}) %></div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>

	<!-- Row 3: Most Viewed Articles -->

	<div class="container card">
		<div class="card-header text-center"><h2 class="text-center mb-4">BÀI VIẾT ĐƯỢC XEM NHIỀU NHẤT</h2></div>
		<div class="card-body d-flex flex-wrap flex-row" style="gap: 1em">
			<% mostViewedArticles.forEach(article => { %> <%- include("../partials/article_m", {article: article, width: "calc(100% / 5 - 15px)", show_cat: true, show_tags: true}) %> <% }); %>
		</div>
	</div>
</div>
