<!-- views/category.ejs -->
<div class="container mt-4">
	<h2 class="mb-4"><%= category.name %></h2>

	<div class="row">
		<!-- Featured article (large) -->
		<div class="col-12 mb-4">
			<% if (articles.length> 0) { %> <%- include('../partials/article_m.ejs', { article: articles[0], width: 800, show_cat: true }) %> <% } else { %>
			<p>No articles available.</p>
			<% } %>
		</div>

		<!-- 3 medium articles in a row -->
		<div class="col-12">
			<div class="row mb-4">
				<% for(let i = 1; i <= 3 && i < articles.length; i++) { %>
				<div class="col-md-4"><%- include('../partials/article_m.ejs', { article: articles[i], width: 350, show_cat: true }) %></div>
				<% } %>
			</div>
		</div>

		<!-- Remaining articles (small cards) -->
		<div class="col-12">
			<% for(let i = 4; i < articles.length; i++) { %>
			<div class="mb-3"><%- include('../partials/article_xs.ejs', { article: articles[i], width: '100%', show_cat: true }) %></div>
			<% } %>
		</div>
	</div>

	<!-- Pagination -->
	<nav class="my-4">
		<ul class="pagination justify-content-center">
			<li class="page-item <%= currentPage == 1 ? 'disabled' : '' %>">
				<a class="page-link" href="/homepage/cate?id=<%= category.category_id %>&page=<%= currentPage-1 %>"><i class="bi bi-caret-left"></i></a>
			</li>

			<% for(let i = 1; i <= totalPages; i++) { %>
			<li class="page-item <%= currentPage == i ? 'active' : '' %>">
				<a class="page-link" href="/homepage/cate?id=<%= category.category_id %>&page=<%= i %>"><%= i %></a>
			</li>
			<% } %>

			<li class="page-item <%= currentPage == totalPages ? 'disabled' : '' %>">
				<a class="page-link" href="/homepage/cate?id=<%= category.category_id %>&page=<%= currentPage+1 %>"><i class="bi bi-caret-right"></i></a>
			</li>
		</ul>
	</nav>
</div>
